In [1]:
if True:
    print("True it is!")

True it is!

In [5]:
if not False:
    print('True it is')

True it is

In [8]:
bools=True

if bools:
    print("True")
else:
    print("False")

True

In [9]:
name='Frankie'

if name=='Frankie':
    print("Hey frankie")
elif name=='Sammy':
    print("Hey Sammy")
else:
    print("what is ur name?")

Hey frankie

In [1]:
list=[1,2,3,4,5]

for i in list:
    print(i)

1
2
3
4
5

In [2]:
list=[1,2,3,4,5]

for i in list:
    print('Cool')

Cool
Cool
Cool
Cool
Cool

In [3]:
list=[1,2,3,4,5]

for _ in list:
    print(i)

5
5
5
5
5

In [1]:
list=[6,7,8,9,0]

for i in list:
    print(i)

6
7
8
9
0

In [7]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [8]:
value="Hello"

for i in value:
    print(value[4])

o
o
o
o
o

In [9]:
tup=(1,2,3)

In [10]:
for i in tup:
    print(i)

1
2
3

In [6]:
tup=[(1,2),(3,4)]

for a,b in tup:
    print(a)
    print(b)

1
2
3
4

In [12]:
for i in tup:
    print(i)

(1, 2)
(3, 4)

In [54]:
tup=[(1,2),(3,4)]

for a,b in [(5,4)]:
    print(a)
    print(b)

5
4

In [14]:
tup=[(1,2),(3,4,5),(6,7),(8,9,10,11)]

for a,b,c,d in tup:
    print(a)
    print(b)
    print(c)
    print(d)

ValueError: not enough values to unpack (expected 4, got 2)

In [28]:
tup=[(1,2),(3,4,5),(6,7),(8,9,10,11)]

tup.count(tup[1])

1

In [17]:
tup[0]

(1, 2)

In [18]:
tup[0][0]

1

In [19]:
tup[0][1]

2

In [24]:
tup[0]

(1, 2)

In [25]:
tup.count(1)

0

In [26]:
tup=(1,3,5)

sum=0

for i in tup:
    sum=sum+1
print(sum)

3

In [50]:
list1=[(1,2),(3,4,5),(6,7),(8,9,10,11)]

for i in list1:
    tup=i
    print(len(tup))
    sum=0
    for j in tup:
        sum=sum+1
    print(sum)
    print(tup)
    if len(tup)==2:
        for a,b in (1,2):
            print(a)
            print(b)
    elif sum==3:
        for a,b,c in tup:
            print(a)
            print(b)
            print(c)
    elif sum==4:
        for a,b,c,d in tup:
            print(a)
            print(b)
            print(c)
            print(d)

2
2
(1, 2)

TypeError: cannot unpack non-iterable int object

In [51]:
for(a,b) in (1,2):
    print(a)
    print(b)

TypeError: cannot unpack non-iterable int object

In [1]:
list1=[(1,2),(3,4,5),(6,7),(8,9,0,1)]


for i in list1:
    print(i)

(1, 2)
(3, 4, 5)
(6, 7)
(8, 9, 0, 1)

In [2]:
tup=(1,2,3)

list11=[tup]
print(list11)

[(1, 2, 3)]

In [7]:
list1=[(1,2),(3,4,5),(6,7),(8,9,0,1)]


for i in list1:
    #print(i)
    length=len(i)
    #print(length)
    list2=[i]
    #print(list2)
    
    if(length==2):
        for a,b in list2:
            print(a)
            print(b)
    elif(length==3):
        for a,b,c in list2:
            print(a)
            print(b)
            print(c)
    elif(length==4):
        for a,b,c,d in list2:
            print(a)
            print(b)
            print(c)
            print(d)

1
2
3
4
5
6
7
8
9
0
1

In [8]:
for i in "Strings":
    print(i)

S
t
r
i
n
g
s

In [9]:
for i in "Strings":

SyntaxError: unexpected EOF while parsing (<ipython-input-9-38812e5e9c6e>, line 2)

In [10]:
for i in "Strings":
    pass
print("NO syntax error for empty for loop since PASS is given")

NO syntax error for empty for loop since PASS is given

In [11]:
x=0

while x<5:
    print(x)
    x+=1
else:
    print("Not less than 5")

0
1
2
3
4
Not less than 5

In [12]:
name="Sammy"

for i in name:
    print(i)

S
a
m
m
y

In [13]:
name="Sammy"

for i in name:
    if i=="a":
        continue
    print(i)

S
m
m
y

In [14]:
name="Sammy"

for i in name:
    if i=="m":
        continue
    print(i)

S
a
y

In [15]:
ame="Sammy"

for i in name:
    if i=="a":
        break
    print(i)

S

In [18]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [19]:
range(0,10,2)

range(0, 10, 2)

In [20]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [30]:
name="vaishu"

for a,i in enumerate(name):
    print(a)
    print(i)

0
v
1
a
2
i
3
s
4
h
5
u

In [31]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]

for i in zip(mylist1,mylist2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [32]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [34]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]

for a,b in zip(mylist1,mylist2):
    print(a)
    print(b)

1
a
2
b
3
c

In [38]:
d={'key1':910}

910 in d.values()

True

In [39]:
'a' in 'ambassidor'

True

In [40]:
value=[1,2,3,4,5]

from random import shuffle

shuffle(value)

In [41]:
value

[5, 2, 1, 4, 3]

In [45]:
value=[1,2,3,4,5]

from random import randint

randint(0,100)

48

In [46]:
result=randint(0,100)

In [47]:
result

73

In [48]:
input("Enter your name:")

Enter your name:vaishu

'vaishu'

In [49]:
input("Enter the numner")

Enter the numner10

'10'

In [50]:
result=input("ENter the value:")

ENter the value:234

result

In [51]:
result=input("ENter the value:")

ENter the value:678

In [52]:
result

'678'

In [53]:
int(result)

678

In [417]:
value=['a','b']

for i in enumerate(value):
    print(i)

(0, 'a')
(1, 'b')

In [418]:
value=['a','b']

for a,b in enumerate(value):
    print(a)
    print(b)

0
a
1
b

In [56]:
mystr="vaishu"

list1=[]

for value in mystr:
    list1.append(value)

In [57]:
list1

['v', 'a', 'i', 's', 'h', 'u']

In [58]:
list2=[value for value in "vishnu"]

In [59]:
list2

['v', 'i', 's', 'h', 'n', 'u']

In [60]:
number=[1,2,3,4,5]

list3=[num for num in number]

In [61]:
list3

[1, 2, 3, 4, 5]

In [62]:
list3=[num**2 for num in number]

In [63]:
list3

[1, 4, 9, 16, 25]

In [64]:
list3=[num%2==0 for num in number]

In [65]:
list3

[False, True, False, True, False]

In [66]:
list3=[num for num in number if num%2==0]

In [67]:
list3

[2, 4]

In [73]:
st = 'Print only the words that start with s in this sentence'

list1

st

In [74]:
print(st)

Print only the words that start with s in this sentence

In [75]:
list1=st.split()

In [76]:
list1

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [77]:
st = 'Print only the words that start with s in this sentence'

list1=st.split()

for i in list1:
    if(i.startswith('s')):
        print(i)

start
s
sentence

In [78]:
for i in range(0,10):
    if(i%2==0):
        print(i)

0
2
4
6
8

In [80]:
list1=[x for x in range(1,50) if x%3==0]

In [81]:
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [85]:
st = 'Print every word in this sentence that has an even number of letters'

list1=st.split()

for i in list1:
    length=len(i)
    if(length%2==0):
        print(f'{i} is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [83]:
list1

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [87]:
num=range(1,101)

for i in num:
    if((i%3==0) and (i%5==0)):
        print("FizzBuzz")
    elif(i%3==0):
        print("Fizz")
    elif(i%5==0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [100]:
st = 'Create a list of the first letters of every word in this string'

list1=st.split()
index=0
list2=[]
for i in list1:
    list2.append(i[index])

In [99]:
list2

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [101]:
st = 'Create a list of the first letters of every word in this string'

list1=st.split()
index=0
list2=[]
for i in list1:
    list2.append(i[index])

In [102]:
list2

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [103]:
list3=[i[0] for i in st]

In [104]:
list3

['C',
 'r',
 'e',
 'a',
 't',
 'e',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 ' ',
 'l',
 'e',
 't',
 't',
 'e',
 'r',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'w',
 'o',
 'r',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [107]:
st = 'Create a list of the first letters of every word in this string'

list1=st.split()

list3=[i[0] for i in list1]

In [108]:
list3

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [2]:
list1=['a','e','i','o','u']

def pig_latin(mystring):
    if mystring[0] in list1:            # if mystring[0] in 'aeiou'
        return mystring+'ay'
    else:
        return mystring[1:]+mystring[0]+'ay'

In [3]:
result= pig_latin("apple")

In [4]:
result

'appleay'

In [5]:
result= pig_latin("word")

In [6]:
result

'ordway'

In [7]:
pig_latin("orange")

'orangeay'

In [3]:
def myfunc(*args):
    print(args)

In [4]:
myfunc(10,20,'asdf',99,'qwerty')

(10, 20, 'asdf', 99, 'qwerty')

In [5]:
def myfuncc(**kwargs):
    print(kwargs)

In [6]:
myfuncc(car='benz',name='vaishu',age=22)

{'car': 'benz', 'name': 'vaishu', 'age': 22}

In [7]:
def sample(*args,**kwargs):
    print('I would like to have {} {}'.format(args[1],kwargs['food']))

In [8]:
sample(10,20,35,school='NES',college='SASTRA',food='CHAPATHI')

I would like to have 20 CHAPATHI

In [9]:
d={'key1': 'values1','name':'vaishu'}

In [10]:
d['key1']

'values1'

In [11]:
d['name']

'vaishu'

In [62]:
def myfunc(*args):
    list1=[]
    for i in args:
        list1.append(i)
    print(list1)
    list2=[y for y in list1 if y%2==0]
    return list2

In [63]:
myfunc(10,3,4,567)

[10, 3, 4, 567]

[10, 4]

In [51]:
list3=[56,33,21,22]

for i in list3:
    if i%2==0:
        print(i)

56
22

In [190]:
def myfun(x):
    list2=[]
    str1=""
    for a,b in enumerate(x):
        str1+=str(a)
        for i in str1:
            if i%2==0:
                return b.lower()

In [191]:
myfun('Vaishu')

TypeError: not all arguments converted during string formatting

In [192]:
def myfunc(x):
    for a,b in enumerate(x):
        #print(a, end='')
        if a%2==0:
            print(b.lower(), end='')
        else:
            print(b.upper(), end='')

In [193]:
myfunc('Anthropomorphism')

aNtHrOpOmOrPhIsM

In [180]:
str1=""

str1.join("abc")

'abc'

In [189]:
for i in "01234":
    print(i)

0
1
2
3
4

In [197]:
def myfunc(string):
     new_s= '' #empty string to hold further values
     for i,l in enumerate(string): # enumerate returns both, index numbers and objects
                                   # so i = index number and l = letter
         if i%2==0: # if index number % 2 == 0 (even number)
              new_s += l.upper() # add an upper cased letter to the new_s
         else: # if index number is an odd number
              new_s += l.lower() # add a lower cased letter to new_s
     return new_s # returns the string new_s

In [198]:
myfunc('Anthropomorphism')

'AnThRoPoMoRpHiSm'

In [200]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        while(a<b):
            return a
        else:
            return b
    elif (a%2==0 or b%2!=0) or (a%2!=0 or b%2==0) or (a%2!=0 or a%2!=0):
        while(a>b):
            return a
        else:
            return b

In [201]:
lesser_of_two_evens(2,4)

2

In [202]:
lesser_of_two_evens(2,5)

5

In [203]:
lesser_of_two_evens(20,50)

20

In [204]:
lesser_of_two_evens(33,41)

41

In [205]:
lesser_of_two_evens(21,30)

30

In [206]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif (n1==20) or (n2==20):
        return True
    else:
        return False

In [207]:
makes_twenty(20,10)

True

In [208]:
makes_twenty(12,8)

True

In [209]:
makes_twenty(2,3)

False

In [241]:
def animal_crackers(text):
    text1=text.split()
    list1=[]
    bools=True
    for i in text1:
        list1.append(i[0])
    #return list1
    first=list1[0]
    #print(first)
    for y in list1:
        if y!=first:
            bools=False
            break
    if bools:
        return True
    else:
        return False

In [242]:
animal_crackers('Levelheaded Llama')

L

True

In [243]:
animal_crackers('Crazy Kangaroo')

C

False

In [248]:
str1="macdonald"

In [250]:
str1[0].upper() + str1[1:3] + str1[3].upper() + str1[4:]

'MacDonald'

In [251]:
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [252]:
old_macdonald("macdonald")

'MacDonald'

In [288]:
def master_yoda(text):
    list1=text.split()
    return list1[::-1]

In [289]:
master_yoda('I am home')

['home', 'am', 'I']

In [291]:
num=34
abs(num)

34

In [292]:
def almost_there(n):
    return n<110 or 200<n<210

In [296]:
almost_there(209)

True

In [329]:
def has_33(nums):

In [330]:
has_33([1,3,3])

False

In [334]:
lst = [1, 1, 3, 1, 5, 9, 6]
any(lst[i]==lst[i+1] for i in range(len(lst)-1))

True

In [337]:
num=[1,4,5]

for i in range(len(lst)-1):
    print(i)
    print(num[i])
    #print(i+1)

0
1
1
4
2
5
3

IndexError: list index out of range

In [369]:
def has_33(nums):
    for i in range(len(nums)-1):
        print(i)
        bools=False
        if (nums[i]==3) and (nums[i+1]==3):
            bools=True
            break
    return bools

In [372]:
has_33([3, 1, 3])

0
1

False

In [386]:
def paper_doll(text):
    str1=""
    for i in range(len(text)):
        str1+=text[i]*3
    return str1

In [387]:
paper_doll('Hello')

'HHHeeellllllooo'

In [388]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [389]:
MMMiiissssssiiippppppiii

MMMiiissssssiiissssssiiippppppiii

NameError: name 'MMMiiissssssiiippppppiii' is not defined

In [396]:
def blackjack(a,b,c):
    sum=0
    str1=""
    if (a+b+c) <21:
        sum+=a+b+c
    elif ((a+b+c) >21) and (a==11 or b==11 or c==11):
        sum+=a+b+c-10
    elif (a+b+c) >21:
        return "BUST"
    return sum

In [397]:
blackjack(5,6,7)

18

In [398]:
blackjack(9,9,9)

'BUST'

In [399]:
blackjack(9,9,11)

19

In [427]:
def summer_69(arr):
    sum=0
    for i in arr:
        if i in range(6,10):
            continue
        else:
            sum+=i
    return sum

In [429]:
summer_69([4, 5, 6, 12, 8, 9])

21

In [411]:
list1.extend("x")

NameError: name 'list1' is not defined

In [412]:
list1=['a','x']

In [413]:
list1.extend("x")

In [414]:
list1

['a', 'x', 'x']

In [ ]:
for i in [1,2,3,4,5]:
    if i==3:
        break
    else:
        print(i)

In [1]:
def sample(arr):
    total=0
    add=True
    
    for num in arr:
        print("for")
        while add:
            print("while 1")
            if num !=6:
                total+=num
                break
            else:
                add=False
        while not add:
            print("while 2")
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [2]:
sample([4,5,6,7,8,9])

for
while 1
for
while 1
for
while 1
while 2
for
while 2
for
while 2
for
while 2

9

In [3]:
name="sam"
name[0]='P'

TypeError: 'str' object does not support item assignment

In [14]:
def spy_game(nums):
    list2=[]
    for i in nums:
        
        if i==0:
            list2.append(i)
        elif i==7:
            list2.append(i)
    print(list2)
    if list2==[0,0,7]:
        return True
    else:
        return False

In [15]:
spy_game([1,2,4,0,0,7,5])

[0, 0, 7]

True

In [49]:
def count_primes(num):
    count=0
    for i in range(2,5):
        for j in range(2,i-1):
            print(i)
            z=i%j
            print(z)
            if (i-1)==0 or (i-1)==1:
                count+=1
            
            elif i%j ==0:
                count+=1
    return count

In [50]:
count_primes(100)

4
0

1

In [33]:
5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

(5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97)

In [34]:
i=3
for i in range(2,i-1):
    print(i)

In [51]:
def count_primes(num):
    count=0
    for i in range(2,num+1):
        for j in range(2,i-1):
            print(i)
            z=i%j
            print(z)
            if (i-1)==0 or (i-1)==1:
                count+=1
            
            elif i%j ==0:
                count+=1
    return count

In [52]:
count_primes(6)

4
0

1

In [59]:
def count_primes(num):
    for i in range(2,num+1):
        print(i)
        for j in range(2,i-1):
            print(j)
            #pass

In [60]:
count_primes(6)

2
3
4
2
5
2
3
6
2
3
4

In [1]:
print("fds")

fds

In [45]:
def count_primes(num):
    count=0
    for i in range(2,num):
        print(i)
        if num%i==0:
            count+=1
            break
        else:
            continue
    print(count)
    if count==1:
        print("Not prime")
    else:
        print("prime")

In [47]:
count_primes(2)

0
prime

In [61]:
def count_primes(num):
    count=0
    for i in range(2,num+1):
        for j in range(2,i):
            print(j)
            if i%j==0:
                count+=1
                break
            else:
                continue
        if count==1:
            print("prime")

In [62]:
count_primes(6)

2
2
prime
2
3
4
prime
2

In [76]:
def count_primes(num):
    list2=[]
    for i in range(2,num+1):
        
        print(f"value of I is {i}") 
        if i==2:
                list2.append(i)
                continue
                
        for j in range(2,i):
            print(f"j is  {j}")
            
            if i!=2 and i%j==0:
                break
            elif i!=2 and i%j!=0 and j==i-1:
                list2.append(i)
                break
            elif i!=2 and i%j!=0:
                continue
    print(list2)
    print(len(list2))

In [78]:
count_primes(100)

value of I is 2
value of I is 3
j is  2
value of I is 4
j is  2
value of I is 5
j is  2
j is  3
j is  4
value of I is 6
j is  2
value of I is 7
j is  2
j is  3
j is  4
j is  5
j is  6
value of I is 8
j is  2
value of I is 9
j is  2
j is  3
value of I is 10
j is  2
value of I is 11
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
value of I is 12
j is  2
value of I is 13
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
value of I is 14
j is  2
value of I is 15
j is  2
j is  3
value of I is 16
j is  2
value of I is 17
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
value of I is 18
j is  2
value of I is 19
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
value of I is 20
j is  2
value of I is 21
j is  2
j is  3
value of I is 22
j is  2
value of I is 23
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
value of I is 24
j is  2
value of I is 25
j is  2
j is  3
j is  4
j is  5
value of I is 26
j is  2
value of I is 27
j is  2
j is  3
value of I is 28
j is  2
value of I is 29
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
value of I is 30
j is  2
value of I is 31
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
value of I is 32
j is  2
value of I is 33
j is  2
j is  3
value of I is 34
j is  2
value of I is 35
j is  2
j is  3
j is  4
j is  5
value of I is 36
j is  2
value of I is 37
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
value of I is 38
j is  2
value of I is 39
j is  2
j is  3
value of I is 40
j is  2
value of I is 41
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
value of I is 42
j is  2
value of I is 43
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
value of I is 44
j is  2
value of I is 45
j is  2
j is  3
value of I is 46
j is  2
value of I is 47
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
value of I is 48
j is  2
value of I is 49
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
value of I is 50
j is  2
value of I is 51
j is  2
j is  3
value of I is 52
j is  2
value of I is 53
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
value of I is 54
j is  2
value of I is 55
j is  2
j is  3
j is  4
j is  5
value of I is 56
j is  2
value of I is 57
j is  2
j is  3
value of I is 58
j is  2
value of I is 59
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
value of I is 60
j is  2
value of I is 61
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
value of I is 62
j is  2
value of I is 63
j is  2
j is  3
value of I is 64
j is  2
value of I is 65
j is  2
j is  3
j is  4
j is  5
value of I is 66
j is  2
value of I is 67
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
value of I is 68
j is  2
value of I is 69
j is  2
j is  3
value of I is 70
j is  2
value of I is 71
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
j is  67
j is  68
j is  69
j is  70
value of I is 72
j is  2
value of I is 73
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
j is  67
j is  68
j is  69
j is  70
j is  71
j is  72
value of I is 74
j is  2
value of I is 75
j is  2
j is  3
value of I is 76
j is  2
value of I is 77
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
value of I is 78
j is  2
value of I is 79
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
j is  67
j is  68
j is  69
j is  70
j is  71
j is  72
j is  73
j is  74
j is  75
j is  76
j is  77
j is  78
value of I is 80
j is  2
value of I is 81
j is  2
j is  3
value of I is 82
j is  2
value of I is 83
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
j is  67
j is  68
j is  69
j is  70
j is  71
j is  72
j is  73
j is  74
j is  75
j is  76
j is  77
j is  78
j is  79
j is  80
j is  81
j is  82
value of I is 84
j is  2
value of I is 85
j is  2
j is  3
j is  4
j is  5
value of I is 86
j is  2
value of I is 87
j is  2
j is  3
value of I is 88
j is  2
value of I is 89
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
j is  67
j is  68
j is  69
j is  70
j is  71
j is  72
j is  73
j is  74
j is  75
j is  76
j is  77
j is  78
j is  79
j is  80
j is  81
j is  82
j is  83
j is  84
j is  85
j is  86
j is  87
j is  88
value of I is 90
j is  2
value of I is 91
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
value of I is 92
j is  2
value of I is 93
j is  2
j is  3
value of I is 94
j is  2
value of I is 95
j is  2
j is  3
j is  4
j is  5
value of I is 96
j is  2
value of I is 97
j is  2
j is  3
j is  4
j is  5
j is  6
j is  7
j is  8
j is  9
j is  10
j is  11
j is  12
j is  13
j is  14
j is  15
j is  16
j is  17
j is  18
j is  19
j is  20
j is  21
j is  22
j is  23
j is  24
j is  25
j is  26
j is  27
j is  28
j is  29
j is  30
j is  31
j is  32
j is  33
j is  34
j is  35
j is  36
j is  37
j is  38
j is  39
j is  40
j is  41
j is  42
j is  43
j is  44
j is  45
j is  46
j is  47
j is  48
j is  49
j is  50
j is  51
j is  52
j is  53
j is  54
j is  55
j is  56
j is  57
j is  58
j is  59
j is  60
j is  61
j is  62
j is  63
j is  64
j is  65
j is  66
j is  67
j is  68
j is  69
j is  70
j is  71
j is  72
j is  73
j is  74
j is  75
j is  76
j is  77
j is  78
j is  79
j is  80
j is  81
j is  82
j is  83
j is  84
j is  85
j is  86
j is  87
j is  88
j is  89
j is  90
j is  91
j is  92
j is  93
j is  94
j is  95
j is  96
value of I is 98
j is  2
value of I is 99
j is  2
j is  3
value of I is 100
j is  2
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [79]:
 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

(2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97)

In [80]:
d1={"A":"v1"}

In [81]:
d1["A"]

'v1'

In [ ]:
d1={"A":""}