In [1]:
print('Hello')

Hello

In [2]:
print('World')

World

In [1]:
1/2

0.5

In [6]:
a=10+7

In [7]:
a

17

In [8]:
b=45

In [9]:
b

45

In [10]:
my_income=100

taxes=0.1
total=my_income*taxes

In [11]:
total

10.0

In [12]:
type(total)

float

In [13]:
type(my_income)

int

In [14]:
"aaa"

'aaa'

In [15]:
print(len("asdf"))

4

In [16]:
my_name= "vaishnavi"

In [17]:
my_name

'vaishnavi'

In [18]:
len(my_name)

9

In [19]:
name="vaishu"

In [20]:
name

'vaishu'

In [29]:
name[0]

'v'

In [30]:
name[:-1]

'vaish'

In [31]:
name[:]

'vaishu'

In [37]:

name[0:5:-2]

''

In [35]:
name[::-2]

'usa'

In [34]:
name

'vaishu'

In [36]:
name[::-1]

'uhsiav'

In [38]:

name[0:5:-2]

''

In [39]:
name[::-2]

'usa'

In [40]:
nmae[::-3]

NameError: name 'nmae' is not defined

In [41]:
name[::-3]

'ui'

In [42]:
name

'vaishu'

In [43]:
name[::-4]

'ua'

In [44]:
'vaishu'[0]

'v'

In [45]:
name

'vaishu'

In [46]:
name[0]

'v'

In [47]:
name="vaisj"

In [48]:
name[0]

'v'

In [49]:
name="Sam"

In [50]:
name

'Sam'

In [51]:
final= 'P' + name[1:]

In [52]:
final

'Pam'

In [53]:
name="Sam"

In [54]:
name

'Sam'

In [55]:
name="Pam"

In [56]:
name

'Pam'

In [57]:
num=123

In [58]:
num

123

In [59]:
len(num)

TypeError: object of type 'int' has no len()

In [60]:
len(name)

3

In [61]:
num

123

In [62]:
num[0]

TypeError: 'int' object is not subscriptable

In [63]:
x= "hey"

In [64]:
x+ "there"

'heythere'

In [65]:
x+ "\tthere"

'hey\tthere'

In [66]:
x+ \t "there"

SyntaxError: unexpected character after line continuation character (<ipython-input-66-a7f44afe529a>, line 1)

In [67]:
x

'hey'

In [68]:
x="Hey" \t

SyntaxError: unexpected character after line continuation character (<ipython-input-68-2d8cbbd2b2d8>, line 1)

In [69]:
x

'hey'

In [72]:
x="hhh \n bbb"

In [73]:
x

'hhh \n bbb'

In [74]:
print ("Hello \n world")

Hello
 world

In [75]:
x=x + " there"

In [76]:
x

'hhh \n bbb there'

In [77]:
x= "hey"

In [78]:
x

'hey'

In [79]:
x+" there"

'hey there'

In [84]:
x=x+" there"

In [85]:
x

'heythere there there'

In [86]:
y="hey vaishu! How are you?"

In [87]:
y

'hey vaishu! How are you?'

In [88]:
y.split()

['hey', 'vaishu!', 'How', 'are', 'you?']

In [89]:
y.split('a')

['hey v', 'ishu! How ', 're you?']

In [90]:
a=vaishu

NameError: name 'vaishu' is not defined

In [91]:
b=vaishu

NameError: name 'vaishu' is not defined

In [92]:
a=vishnu

NameError: name 'vishnu' is not defined

In [93]:
a="vaishu"

In [94]:
a

'vaishu'

In [96]:
print("heyyy "+a)

heyyy vaishu

In [97]:
print("Keep it up! {}".format('Vaishnavi'))

Keep it up! Vaishnavi

In [98]:
print("Keep it up!".format('Vaishnavi'))

Keep it up!

In [99]:
name

'Pam'

In [100]:
print("how's it going {}".format(name))

how's it going Pam

In [101]:
print("how's it going {}".format(name,a))

how's it going Pam

In [102]:
print("how's it going {} {}".format(name, '??'))

how's it going Pam ??

In [103]:
print("how's it going {}{}".format(name, '??'))

how's it going Pam??

In [104]:
print("{1} {2} {0}".format('Maddison Hill', "How it's gng guys?", "I'm"))

How it's gng guys? I'm Maddison Hill

In [106]:
print("{name} {address} {age}".format(name='xxx',address='yyy',age=12))

xxx yyy 12

In [107]:
result=100/77

In [108]:
result

1.2987012987012987

In [109]:
print("The result was {}".format(r=result))

IndexError: tuple index out of range

In [110]:
print("The result was {r}".format(r=result))

The result was 1.2987012987012987

In [113]:
print("The result was {r:1.5f}".format(r=result))

The result was 1.29870

In [114]:
name="SAMPAM"

In [115]:
name

'SAMPAM'

In [116]:
print(f'HIS name is {name}')

HIS name is SAMPAM

In [117]:
age=15

In [118]:
print(f'{name} is {age} years old')

SAMPAM is 15 years old

In [1]:
name="hello"

In [2]:
name

'hello'

In [3]:
name[::-2]

'olh'

In [4]:
name[::-3]

'oe'

In [5]:
name[0:4:2]

'hl'

In [6]:
my_list=['there',10,456.77]

In [7]:
my_list

['there', 10, 456.77]

In [8]:
len(my_list)

3

In [10]:
new = my_list + ['one','two']

In [11]:
new

['there', 10, 456.77, 'one', 'two']

In [12]:
new[0]

'there'

In [13]:
new[1]= 'THEREEE'

In [14]:
new

['there', 'THEREEE', 456.77, 'one', 'two']

In [15]:
new[4]=1234

In [16]:
new

['there', 'THEREEE', 456.77, 'one', 1234]

In [17]:
new[5]='YES'

IndexError: list assignment index out of range

In [18]:
len(new)

5

In [20]:
new = new+['amma']

In [21]:
new

['there', 'THEREEE', 456.77, 'one', 1234, 'amma']

In [24]:
new.insert(2,"NEW")

In [25]:
new

['there', 'THEREEE', 'NEW', 456.77, 'one', 1234, 'amma']

In [26]:
new.append("OLD")

In [27]:
new

['there', 'THEREEE', 'NEW', 456.77, 'one', 1234, 'amma', 'OLD']

In [28]:
new.pop(7)

'OLD'

In [29]:
new

['there', 'THEREEE', 'NEW', 456.77, 'one', 1234, 'amma']

In [30]:
new.pop(2)

'NEW'

In [31]:
new

['there', 'THEREEE', 456.77, 'one', 1234, 'amma']

In [32]:
new.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [33]:
new_list=['one','two','three']

In [34]:
new_list

['one', 'two', 'three']

In [35]:
new_list.sort()

In [36]:
new_list

['one', 'three', 'two']

In [37]:
new_list.reverse()

In [38]:
new_list

['two', 'three', 'one']

In [40]:
example=[1,2,[3,4]]

In [41]:
example

[1, 2, [3, 4]]

In [42]:
example[0]

1

In [43]:
example[1]

2

In [44]:
example[3]

IndexError: list index out of range

In [45]:
example[2][0]

3

In [46]:
example[2][1]

4

In [47]:
ex=[1,2,[3,4,[5,6]]]

In [55]:
ex[2][3]

IndexError: list index out of range

In [56]:
myDict="fff"

In [57]:
myDIct

NameError: name 'myDIct' is not defined

In [58]:
myDict

'fff'

In [59]:
mydict={'name':'vaishu','age':22}

In [60]:
mylist

NameError: name 'mylist' is not defined

In [61]:
mydict

{'name': 'vaishu', 'age': 22}

In [62]:
mydict['name']

'vaishu'

In [63]:
mydict['age']

22

In [66]:
mydict.update('vaishu','vishnu')

TypeError: update expected at most 1 arguments, got 2

In [67]:
mydict.get('name')

'vaishu'

In [68]:
mydict.items()

dict_items([('name', 'vaishu'), ('age', 22)])

In [70]:
mydict.pop('age')

22

In [71]:
mydict

{'name': 'vaishu'}

In [72]:
mydict.update('name'='vishnu')

SyntaxError: keyword can't be an expression (<ipython-input-72-97e6e4fb4c9b>, line 1)

In [73]:
mydict.update()

In [74]:
mydict

{'name': 'vaishu'}

In [75]:
mydict.update(address=zzz)

NameError: name 'zzz' is not defined

In [76]:
mydict.update(address='zzz')

In [77]:
mydict

{'name': 'vaishu', 'address': 'zzz'}

In [78]:
mydict.update('address'='zzz')

SyntaxError: keyword can't be an expression (<ipython-input-78-1b812e54379b>, line 1)

In [79]:
mydict.update(address='zzz')

In [80]:
mydict

{'name': 'vaishu', 'address': 'zzz'}

In [81]:
mydict.update(1='one')

SyntaxError: keyword can't be an expression (<ipython-input-81-3018ed27370c>, line 1)

In [82]:
mydict.update(school="NES")

In [83]:
mydict

{'name': 'vaishu', 'address': 'zzz', 'school': 'NES'}

In [84]:
dicts={1:'one',2:'two'}

In [85]:
dicts

{1: 'one', 2: 'two'}

In [87]:
dicts.update(y=3)

In [88]:
dicts

{1: 'one', 2: 'two', 'y': 3}

In [90]:
dictss={3:'three'}

In [91]:
dicts.update(dictss)

In [92]:
dicts

{1: 'one', 2: 'two', 'y': 3, 3: 'three'}

In [93]:
d={'key1':'value1','key2':[1,2,3],'key3': {'insidekey3':100}}

In [94]:
d

{'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'insidekey3': 100}}

In [95]:
d['key1']

'value1'

In [96]:
d[key2]

NameError: name 'key2' is not defined

In [97]:
d['key2']

[1, 2, 3]

In [98]:
d['key2'][1]

2

In [99]:
d['key3']

{'insidekey3': 100}

In [100]:
d['key3']['insidekey3']

100

In [101]:
d1={1:'one'}

In [102]:
d1

{1: 'one'}

In [103]:
d1[1]

'one'

In [104]:
d2={'key1':['a',23,'bgh',78.9]}

In [105]:
d2

{'key1': ['a', 23, 'bgh', 78.9]}

In [106]:
d2['key1']

['a', 23, 'bgh', 78.9]

In [107]:
d2['key1'][2]

'bgh'

In [108]:
d2['key1'][1:3]

[23, 'bgh']

In [109]:
d2['key1'][::-1]

[78.9, 'bgh', 23, 'a']

In [110]:
store= d2['key1'][::-1]

In [111]:
store

[78.9, 'bgh', 23, 'a']

In [112]:
store[3]

'a'

In [113]:
store[3].upper()

'A'

In [114]:
d

{'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'insidekey3': 100}}

In [115]:
d[1]="onne"

In [116]:
d

{'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'insidekey3': 100}, 1: 'onne'}

In [117]:
d['one']="new value"

In [118]:
d

{'key1': 'value1',
 'key2': [1, 2, 3],
 'key3': {'insidekey3': 100},
 1: 'onne',
 'one': 'new value'}

In [1]:
mylist= [1,"two",4]

In [2]:
mylist[2]="three"

In [3]:
mylist

[1, 'two', 'three']

In [4]:
t=(1,2,3)

In [5]:
t

(1, 2, 3)

In [6]:
type(t)

tuple

In [7]:
t[0]='vvv'

TypeError: 'tuple' object does not support item assignment

In [8]:
t[3]=4

TypeError: 'tuple' object does not support item assignment

In [9]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [10]:
len(t)

3

In [11]:
t.count(1)

1

In [12]:
t.index(2)

1

In [13]:
t1=(1,2,2,3,3)

In [14]:
t1.count(2)

2

In [15]:
t1.count(3)

2

In [16]:
t1.index(1)

0

In [17]:
t1.index(2)

1

In [18]:
t1.index(3)

3

In [19]:
myset= set()

In [20]:
myset

set()

In [21]:
type(myset)

set

In [22]:
set(1,2)

TypeError: set expected at most 1 arguments, got 2

In [23]:
myset.add("vaishhu")

In [24]:
myset

{'vaishhu'}

In [25]:
myset.add("vishnu")

In [26]:
myset

{'vaishhu', 'vishnu'}

In [27]:
myset.difference(1)

TypeError: 'int' object is not iterable

In [29]:
myset.discard(1)

In [30]:
myset

{'vaishhu', 'vishnu'}

In [31]:
mylist= [1,1,11,2,3,3,3]

In [32]:
set(mylist)

{1, 2, 3, 11}

In [33]:
t=(1,2,2,3,3,3)

In [34]:
set(t)

{1, 2, 3}

In [35]:
set()

set()

In [36]:
set.add("asdf")

TypeError: descriptor 'add' requires a 'set' object but received a 'str'

In [37]:
a= set()

In [38]:
a.add(1)

In [39]:
a

{1}

In [40]:
a.add("two")

In [41]:
a

{1, 'two'}

In [42]:
pwd

'/Users/vaishnavikalaivanan/Desktop/Python'

In [43]:
%%writefile myfile.txt

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [44]:
%%writefile myfile.txt
Hello there!
This is the second line
THIs is the third line of the file

Writing myfile.txt

In [45]:
pwd

'/Users/vaishnavikalaivanan/Desktop/Python'

In [46]:
open('myfile.txt')

In [47]:
newfile=open('myfile.txt')

In [48]:
newfile

In [49]:
newfile=open(myfile.txt)

NameError: name 'myfile' is not defined

In [50]:
myfile.read()

NameError: name 'myfile' is not defined

In [51]:
newfile=open('myfile.txt')

In [52]:
newfile.read()

'Hello there!\nThis is the second line\nTHIs is the third line of the file '

In [53]:
newfile.read()

''

In [54]:
newfile.read()

''

In [55]:
newfile.seek(0)

0

In [56]:
newfile.read()

'Hello there!\nThis is the second line\nTHIs is the third line of the file '

In [57]:
newfile.readlines()

[]

In [58]:
content=newfile.readlines()

In [59]:
type(content)

list

In [60]:
content1=newfile.read()

In [61]:
type(content1)

str

In [62]:
content

[]

In [63]:
content.seek(0)

AttributeError: 'list' object has no attribute 'seek'

In [64]:
content1.seek(0)

AttributeError: 'str' object has no attribute 'seek'

In [65]:
content1

''

In [66]:
%%writefile new.txt
Hey There!
Happy coding!
Enjoy!!

Writing new.txt

In [67]:
mine=open('new.txt')

In [68]:
mine.read()

'Hey There!\nHappy coding!\nEnjoy!!'

In [69]:
mine.read()

''

In [70]:
mine.seek(0)

0

In [71]:
mine1=mine.read()

In [72]:
mine1

'Hey There!\nHappy coding!\nEnjoy!!'

In [73]:
mine2=mine.readlines()

In [74]:
mine2

[]

In [75]:
mine.seek(0)

0

In [76]:
mine2=mine.readlines()

In [77]:
mine2

['Hey There!\n', 'Happy coding!\n', 'Enjoy!!']

In [78]:
mine.seek(0)

0

In [79]:
mine.readline()

'Hey There!\n'

In [80]:
mine4=mine.readline()

In [81]:
type(mine4)

str

In [82]:
mine.read()

'Enjoy!!'

In [85]:
mine.seek(0)

0

In [84]:
mine.read()

'Hey There!\nHappy coding!\nEnjoy!!'

In [86]:
mine.readline()

'Hey There!\n'

In [87]:
mine.seek(0)

0

In [88]:
mine.readable()

True

In [89]:
mine.readable()

True

In [90]:
mine.read()

'Hey There!\nHappy coding!\nEnjoy!!'

In [91]:
mine.readable()

True

In [92]:
pwd

'/Users/vaishnavikalaivanan/Desktop/Python'

In [93]:
mine.close()

In [95]:
with open('new.txt') as new_file:
    content=new_file.read()

In [96]:
content

'Hey There!\nHappy coding!\nEnjoy!!'

In [97]:
pwd

'/Users/vaishnavikalaivanan/Desktop/Python'

In [98]:
test=open('/Users/vaishnavikalaivanan/Desktop/Python/new.txt')

In [99]:
test.read()

'Hey There!\nHappy coding!\nEnjoy!!'

In [100]:
test=open('/Users/vaishnavikalaivanan/Desktop/Python/new.txt',mode='r')

In [101]:
test1=test.read()

In [102]:
test1

'Hey There!\nHappy coding!\nEnjoy!!'

In [103]:
print(test1)

Hey There!
Happy coding!
Enjoy!!

In [104]:
type(test1)

str

In [105]:
test=open('/Users/vaishnavikalaivanan/Desktop/Python/new.txt',mode='a')

In [106]:
test.write('This is the fourth line')

23

In [107]:
output=test.write('This is the fourth line')

In [108]:
output

23

In [109]:
print(test.read())

UnsupportedOperation: not readable

In [110]:
test1=open('new.txt')

In [111]:
print(test1.read())

Hey There!
Happy coding!
Enjoy!!

In [113]:
test1=open('new.txt',mode='a')

In [114]:
test1.write('xxx')

3

In [115]:
test2=test1.read()

UnsupportedOperation: not readable

In [116]:
test1.readable()

False

In [117]:
test.close()

In [119]:
test4=open('new.txt',mode='r')

In [120]:
print(test4.read())

Hey There!
Happy coding!
Enjoy!!This is the fourth lineThis is the fourth line

In [121]:
test4=open('new.txt',mode='w')

In [122]:
test5 = test4.write('\n I am on sixth line')

In [130]:
print(test5.read())

In [124]:
test5

20

In [125]:
test4

In [126]:
test4.read()

UnsupportedOperation: not readable

In [127]:
test4.close()

In [128]:
test5=open('new.txt')

In [129]:
test5.read()

'\n I am on sixth line'

In [131]:
test11=open('new.txt',mode='r')

In [132]:
test11.read()

'\n I am on sixth line'

In [133]:
test11.seek(0)

0

In [134]:
test11.read()

'\n I am on sixth line'

In [135]:
test12=open('new.txt',mode='a')

In [136]:
test12.write('Yes! Made it!!!')

15

In [137]:
test12.read()

UnsupportedOperation: not readable

In [138]:
test13=open('new.txt',mode='a')
test13.write('Yes! Made it!!!')

15

In [139]:
 test13.close()

In [146]:
test12=open('new.txt',mode='a')

In [141]:
test12.read()

'\n I am on sixth lineYes! Made it!!!Yes! Made it!!!'

In [147]:
test12.write('got it')

6

In [148]:
test12=open('new.txt',mode='r')

In [149]:
test12.read()

'\n I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot it'

In [150]:
test12.close()

In [151]:
with open('new.txt') as test21:
    print(test21.read())

 I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot it

In [152]:
with open('new.txt',mode='a') as test21:
    print(test21.write('New sattement'))

13

In [153]:
 open('new.txt',mode='a') as test21:
    test21.write('New sattement')

SyntaxError: invalid syntax (<ipython-input-153-1c62b38934c5>, line 1)

In [154]:
with open('new.txt') as test22:
    print(test22.read())

 I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot itNew sattement

In [155]:
with open('new.txt',mode='a') as test22:
    test22.write('Doppleganger')

In [156]:
with open('new.txt') as test22:
    print(test22.read())

 I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot itNew sattementDoppleganger

In [157]:
with open('new.txt',mode='a') as test22:
    test22.write('Doppleganger 2nd time')

In [158]:
with open('new.txt') as test22:
    print(test22.read())

 I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot itNew sattementDopplegangerDoppleganger 2nd time

In [159]:
with open('new.txt',mode='a') as test22:
    test22.write('\nDoppleganger in new line')

In [160]:
with open('new.txt') as test22:
    print(test22.read())

 I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot itNew sattementDopplegangerDoppleganger 2nd time
Doppleganger in new line

In [161]:
with open('new.txt',mode='a') as test22:
    test22.write('\n Another new line')

In [162]:
with open('new.txt') as test22:
    print(test22.read())

 I am on sixth lineYes! Made it!!!Yes! Made it!!!heyyyygot itNew sattementDopplegangerDoppleganger 2nd time
Doppleganger in new line
 Another new line

In [163]:
with open('throughcode.txt',mode='w') as test23:
    test23.write('I creared this file successfully!!!')

In [164]:
with open('throughcode.txt',mode='r') as test24:
    print(test24.read())

I creared this file successfully!!!

In [165]:
(100*2)-100+0.25

100.25

In [166]:
3 + 1.5 + 4

8.5

In [167]:
s="hello"

In [168]:
s[]1

SyntaxError: invalid syntax (<ipython-input-168-becd4fb00394>, line 1)

In [169]:
s[1]

'e'

In [170]:
print('{}'.format(s[4]))

o

In [171]:
num=s[-1]
print(f'{num}')

o

In [172]:
list3 = [1,2,[3,4,'hello']]

In [173]:
list3[2][2]="goodbye"

In [174]:
list3

[1, 2, [3, 4, 'goodbye']]

In [175]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [176]:
d['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [177]:
d['k1']['nest_key']

TypeError: list indices must be integers or slices, not str

In [178]:
d['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [179]:
d['k1'][0]['nest_key']

['this is deep', ['hello']]

In [180]:
d['k1'][0]['nest_key'][2][0]

IndexError: list index out of range

In [181]:
d['k1'][0]['nest_key'][1]

['hello']

In [182]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [183]:
d['k1']

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

In [186]:
d['k1'][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [187]:
d['k1'][2]['k2']

['this is tricky', {'tough': [1, 2, ['hello']]}]

In [188]:
d['k1'][2]['k2'][1]

{'tough': [1, 2, ['hello']]}

In [189]:
d['k1'][2]['k2'][1]['tough']

[1, 2, ['hello']]

In [190]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [191]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [192]:
3.0 == 3

True

In [193]:
4**0.5

2.0

In [194]:
(100*2)+((5**2)/5)-105+0.25

100.25

In [195]:
list2=[0]*3

In [196]:
list2

[0, 0, 0]

In [1]:
2==2

True

In [2]:
2.0==2

True

In [3]:
2.5==2

False

In [5]:
"asf"=="ASF"

False

In [7]:
"Asdf"=='asdf'

False